body {
  background-color: #ffffff;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: cover; */
}

.raw {
  display: flex;
  flex-wrap: wrap;
}

.col-5 {
  width: 50%;
  flex-direction: row;
}
.col-3 {
  width: 33.33%;
  flex-direction: row;
}
.col-6 {
  width: 66.66%;
  flex-direction: row;
}
.profile-img {
  border-radius: 50%;
  border: 7px solid #fdb827;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}
.intro-text {
  text-align: center;
}
.profile-container {
  height: 200px;
  width: 200px;
  background-color: #48426d;
  border-radius: 50%;
  margin: 20px auto;
}

/* cta */
.CTA {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
.cta-btn {
  background-color: #48426d;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: #fdb827;
  font-weight: 700;
  font-size: x-large;
}

.cta-btn:hover {
  color: #ffffff;
}
.cta-btn:focus {
  outline-style: dashed;
}

/* navbar */
.menue {
  width: 50px;
  height: 50px;
  display: none;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #fdb827;
  padding-top: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navbar-items {
  list-style: none;
}
.navbar-item {
  padding: 5px;
  display: inline-block;
}
.navbar-link {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-size: x-large;
  padding: 7px;
}
.navbar-link:hover {
  background-color: #6d5e42;
  color: #ffffff;
  border-radius: 5px;
}

/* skills section */
.skill {
  margin: 10px auto;
}
.services-card {
  width: 95%;
  margin: 5px auto;
  /* background-color: #; */
  border: 2px solid #48426d;
  border-radius: 10px;
  height: max-content;
  padding: 7px;
  background: #fdb827;
}
.services-card:hover {
  background-color: #6930c3;
  color: #ffffff;
}
.services-card__icon {
  display: flex;
  justify-content: center;
  color: #ffffff;
  height: 100px;
}
.skill-list {
  list-style: none;
  text-align: center;
}
.goal {
  background-color: #345358;
  padding: 5px;
  color: #ffffff;
  margin: 10px 0;
  width: 100vw;
}

/* service */
.service-section {
  margin: 5px auto;
}
.services-list {
  list-style: square;
}
.service-section__img {
  width: 90%;
  height: 100%;
  margin: 10px 0;
}
.service-section__title {
  border-bottom: 5px solid #ec4646;
  display: inline;
  word-spacing: 3px;
  margin: 8px auto;
  text-align: center;
}
.service-section__info {
  margin: 10px 0;
}

/* work */
.heading {
  margin: 7px 0;
}
.title {
  width: max-content;
  padding: 5px 8px;
  background-color: #ec4646;
  color: #ffffff;
  border-radius: 5px;
}
.work-section {
  padding: 10px;
}
.work-section__card {
  background-color: #6930c3;
  color: #ffffff;
  width: 95%;
  border: 3px solid #48426d;
  border-radius: 10px;
  margin: 12px auto;
}
.work-section__img {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.work-section__card-body {
  border-top: 2px solid #48426d;
  padding: 5px;
}
.project-link {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}
.project-link:hover {
  color: #ffffff;
}
.project-view_btn {
  background-color: #fdb827;
  margin: 5px;
}

/* contact */
.contact {
  background: #fdb827;
  margin: 10px auto 0 auto;
  /* color: #ffffff; */
  padding: 20px;
}
.btn-pink {
  background-color: #6930c3;
  padding: 5px 10px;
  margin: 6px auto;
  color: #ffffff;
  font-weight: 700;
  font-size: x-large;
}

/* footer */
footer {
  background-color: #6930c3;
  padding: 10px;
}
.greeting {
  width: 90%;
  height: 90%;
}
.footer-text {
  color: #ffffff;
}
.email-subscribe {
  width: 70%;
  padding: 10px;
  font-size: large;
  font-weight: 500;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.email-subscribe:focus {
  outline-style: none;
}
.subscribe-btn {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #ec4646;
  padding: 11px;
  font-size: large;
  font-weight: 500;
}
.subscribe-btn:hover {
  color: #ffffff;
}
.media-icon {
  margin: 8px;
  color: #ffffff;
}
.footer-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
}
.footer-link:hover {
  color: #ec4646;
}

@media only screen and (max-width: 400px) {
  .col-5,
  .col-3,
  .col-6 {
    width: 100%;
    flex-direction: row;
  }
  .intro-text {
    text-align: left;
  }
  .email-subscribe {
    width: 50%;
  }
  .service-section__img {
    display: block;
    margin: 0 auto;
  }
  .menue {
    display: block;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  .col-5,
  .col-3,
  .col-6 {
    width: 100%;
    flex-direction: row;
  }
  .intro-text {
    text-align: left;
  }
  .email-subscribe {
    width: 50%;
  }
  .service-section__img {
    display: block;
    margin: 0 auto;
  }
  .menue {
    display: block;
  }
}
